<header class="header">
  <div class="logoUF">
    <a routerLink="/">
      <img src="logoGoUni.png" alt="logoUF">
    </a>
  </div>

  <nav class="navbar">
    <a href="#inicio">{{ 'toolbar.home' | translate }}</a>
    <a href="#funcionalidad">{{ 'toolbar.functionality' | translate }}</a>
    <a href="#beneficios">{{ 'toolbar.benefits' | translate }}</a>
    <a href="#planes">{{ 'toolbar.plans' | translate }}</a>
    <a href="#contacto">{{ 'toolbar.contact' | translate }}</a>
  </nav>
  <div class="header-right">
    <div class="language-selector">
      <app-language-switcher></app-language-switcher>
    </div>
    <button class="login-btn" (click)="openLogin()">LogIn</button>
    <button class="register-btn" (click)="openRegister()">Register</button>
  </div>
  <div id="menu-btn" class="fas fa-bars"></div>
</header>
