<header class="header">
  <div class="logoUF">
    <a routerLink="/">
      <img src="logoGoUni.png" alt="logoUF">
    </a>
  </div>
  <nav class="navbar">
    <a href="#inicio">Inicio</a>
    <a href="#funcionalidad">Funcion</a>
    <a href="#beneficios">Beneficios</a>
    <a href="#planes">Planes</a>
    <a href="#contacto">Contacto</a>
  </nav>
  <div class="header-right">
    <div class="language-selector">
      <app-language-switcher></app-language-switcher>
    </div>
    <button class="login-btn" (click)="openLogin()">LogIn</button>
    <button class="register-btn" (click)="openRegister()">Register</button>
  </div>
  <div id="menu-btn" class="fas fa-bars"></div>
</header>
