/* Estilos generales */
.footer {
  background-color: #000; /* Fondo oscuro para el footer */
  color: #fff; /* Texto en blanco para contraste */
  padding: 40px 20px; /* Espaciado en el footer */
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); /* Línea sutil entre el contenido y el footer-main */
}

/* Navegación del footer */
.footer-nav a {
  color: #fff;
  text-decoration: none;
  margin-right: 20px;
  font-size: 16px;
  transition: color 0.3s ease;
}

.footer-nav a:hover {
  color: #ffcc00; /* Color de hover en los enlaces */
}

/* Selector de idioma */
.language-selector {
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}

.language-selector .selected-language {
  display: inline-flex;
  align-items: center;
}

.language-selector i {
  margin-left: 8px;
}

/* Sección principal del footer */
.footer-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
  flex-wrap: wrap; /* Flex para que se acomoden en pantallas pequeñas */
}

.footer-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
}

.footer-logo img {
  height: 120px;
  width: 120px;
}

.footer-logo h2 {
  margin-top: 10px;
  font-size: 24px;
  color: #ffcc00; /* Color amarillo para destacar el nombre GoUni */
}

/* Descripción */
.footer-description {
  font-size: 16px;
  line-height: 1.6;
  max-width: 400px;
  text-align: left;
  margin-left: -15rem;
  color: #ccc; /* Texto más claro que el blanco */
}

/* Sección legal */
.footer-legal {
  display: flex;

  flex-direction: column;
  align-items: flex-end;
  margin-left: 0rem;
}

.footer-legal a {
  color: #fff;
  text-decoration: none;
  margin-bottom: 10px;
  font-size: 14px;
  transition: color 0.3s ease;
}

.footer-legal a:hover {
  color: #ffcc00; /* Color de hover en enlaces legales */
}

/* Íconos de redes sociales */
.footer-social {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 0 rem;
}

.footer-social a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  margin-right: 20px;
  transition: color 0.3s ease;
}

.footer-social a:hover {
  color: #ffcc00; /* Color de hover en íconos sociales */
}

.footer-social i {
  font-size: 24px; /* Ajuste del tamaño de los íconos */
}

/* Footer inferior */
.footer-bottom {
  text-align: center;
  margin-top: 20px;
}

.footer-bottom p {
  font-size: 14px;
  color: #ccc; /* Texto más claro */
}

/* Responsividad para dispositivos móviles */
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }


  .footer-nav a {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .footer-main {
    flex-direction: column;
    text-align: center;
  }

  .footer-logo {
    margin-bottom: 20px;
  }

  .footer-logo img {
    height: 100px;
    width: 100px;
  }

  .footer-description {
    margin-left: 0;
    text-align: center;
    margin-top: 10px;
  }

  .footer-legal {
    align-items: center;
    text-align: center;
  }

  .footer-social {
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .footer-logo img {
    height: 80px;
    width: 80px;
  }

  .footer-nav a {
    font-size: 14px;
  }

  .footer-description {
    font-size: 14px;
  }

  .footer-legal a {
    font-size: 12px;
  }

  .footer-social a {
    font-size: 18px;
  }
}
