<section class="security">
  <div class="security-content">
    <h2>{{ 'security.title1' | translate }}</h2>
    <h2 class="priority">{{ 'security.title2' | translate }}</h2>
    <p>{{ 'security.description' | translate }}</p>
    <mat-list>
      <mat-list-item class="security-item">
        <mat-icon mat-list-icon>security</mat-icon>
        <div mat-line>{{ 'security.benefit1' | translate }}</div>
      </mat-list-item>

      <mat-list-item class="security-item">
        <mat-icon mat-list-icon>star</mat-icon>
        <div mat-line>{{ 'security.benefit2' | translate }}</div>
      </mat-list-item>

      <mat-list-item class="security-item">
        <mat-icon mat-list-icon>group</mat-icon>
        <div mat-line>{{ 'security.benefit3' | translate }}</div>
      </mat-list-item>
    </mat-list>
  </div>

  <!-- Imagen de seguridad -->
  <div class="security-image">
    <img src="phone.png" alt="{{ 'security.imageAlt' | translate }}">
  </div>
</section>
