<section class="security">
  <div class="security-content">
    <h2>Tu seguridad es</h2>
    <h2 class="priority">Nuestra Prioridad</h2>
    <p>En GoUni, nos tomamos muy en serio la seguridad de nuestros usuarios. Implementamos rigurosas medidas para garantizar viajes seguros y confiables.</p>

    <!-- Lista de beneficios de seguridad -->
    <mat-list>
      <mat-list-item class="security-item">
        <mat-icon mat-list-icon>security</mat-icon>
        <div mat-line>Verificación de perfiles</div>
      </mat-list-item>

      <mat-list-item class="security-item">
        <mat-icon mat-list-icon>star</mat-icon>
        <div mat-line>Sistemas de calificaciones y reseñas</div>
      </mat-list-item>

      <mat-list-item class="security-item">
        <mat-icon mat-list-icon>group</mat-icon>
        <div mat-line>Compartir detalles del viaje con contactos de confianza</div>
      </mat-list-item>
    </mat-list>
  </div>

  <!-- Imagen de seguridad -->
  <div class="security-image">
    <img src="phone.png" alt="Seguridad en GoUni">
  </div>
</section>
